// left panel specific styling
@import '../../style/media';
@import '../../style/colors';
@import '../../style/mixins';
@import '../../style/layout';

#bottom-panel {
    width: 100vw;
    position: fixed;
    height: $bottom-height;
    bottom: 0;
    left: 0;
    border-top: 1px solid $extra-light-gray;
}

@include media-md {
    #bottom-panel {
        display: none;
    }
}
