@import '../../../style/colors';
@import '../../../style/mixins';

#bottom-panel-menu {
    ul {
        display: flex;
        justify-content: space-evenly;

        li {
            a {
                display: block;
                color: $black;

                &.bottom-nav-selected span {
                    font-weight: 700;
                }

                .bottom-panel-menu-button {
                    display: inline-flex;
                    align-items: center;
                    padding: 1rem 0;

                    svg {
                        fill: $black;

                        &.custom-icon {
                            width: 28px;
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }
    }
}
