// main panel specific styling
@import '../../../style/media';

#main-panel {
    overflow-y: auto;
    padding: 0.765rem 1rem 0.765rem 1rem;
}
@include media-md {
    #main-panel {
        padding: 1rem 1.735rem 1rem 1.735rem;
        width: 65%;
        max-width: 328px !important;
    }
}

@include media-lg {
    #main-panel {
        min-width: 392px !important;
    }
}

@include media-xl {
    #main-panel {
        max-width: 600px !important;
    }
}
