@import '../../style/mixins';

.user-avatar {
    grid-area: user-avatar;
    width: 38px;
    height: 38px;
    object-fit: fill;
    object-position: center;
    @include border-radius($standard: 100, $unit: '%');

    &.full-width {
        width: 100%;
        height: auto;
    }
}
