// left panel specific styling
@import '../../../style/media';
@import '../../../style/colors';
@import '../../../style/mixins';

#left-panel {
    display: none;
    @include transition();
    padding: 0.765rem 0;
    border-right: 1px solid $extra-light-gray;

    .logotype {
        width: 29px;
        display: block;
        margin-left: 1rem;
    }
}

@include media-md {
    #left-panel {
        display: flex;
        flex-direction: column;
        width: 15%;
        min-width: 190px;
    }
}

@include media-lg {
    #left-panel {
        max-width: 275px;
    }
}
