// right panel specific styling
@import '../../style/media';
@import '../../style/colors';
@import '../../style/mixins';

#right-panel {
    display: none;
}

@include media-md {
    #right-panel {
        padding: 0.765rem 1rem;
        overflow-y: auto;
        display: block;
        width: 20%;
        min-width: 250px;

        &.message-view {
            width: 60%;
            max-width: 278px;
        }

        .right-panel-legal {
            font-size: 0.7rem;

            li {
                padding: 0.175rem 0;

                &.text-break {
                    margin-top: 0.675rem;
                    padding-top: 0.675rem;
                    border-top: 1px solid $extra-light-gray;
                }
            }
        }
    }
}

@include media-lg {
    #right-panel {
        max-width: 325px;

        &.message-view {
            min-width: 342px;
        }
    }
}

@include media-xl {
    #right-panel {
        &.message-view {
            max-width: 550px;
        }
    }
}
