// main
$primary: hsl(206, 95%, 55%);
$secondary: hsl(210, 14%, 46%);
$light-gray: hsl(205, 16%, 71%);
$extra-light-gray: hsl(205, 25%, 91%);
$extra-extra-light-gray: hsl(204, 33%, 97%);

// general
$one: hsl(0, 0%, 7%);
$two: hsl(0, 0%, 13%);
$three: hsl(0, 0%, 20%);
$four: hsl(0, 0%, 27%);
$five: hsl(0, 0%, 33%);
$six: hsl(0, 0%, 40%);
$seven: hsl(0, 0%, 47%);
$eight: hsl(0, 0%, 53%);
$nine: hsl(0, 0%, 60%);
$ca: hsl(0, 0%, 67%);
$cb: hsl(0, 0%, 73%);
$cc: hsl(0, 0%, 80%);
$cd: hsl(0, 0%, 87%);
$ce: hsl(0, 0%, 93%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

// bootstrap theme
$min-contrast-ratio: 2.95;
