.full-viewport-width {
    min-width: 100vw;
}

.full-container-width {
    min-width: 100%;
}

.full-viewport-height {
    height: 100vh;
}

.full-container-height {
    height: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
