@import './media';
$bottom-height: 78px;

html,
body {
    height: 100%;
    margin: 0;
}

#app-container {
    // account for bottom height in mobile size
    height: calc(100vh - $bottom-height);
    display: flex;
    flex-flow: row;
}

.full-viewport-width {
    min-width: 100vw;
}

.full-container-width {
    min-width: 100%;
}

.full-viewport-height {
    height: 100vh;
}

.full-container-height {
    height: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

@include media-md {
    #app-container {
        height: 100vh !important;
    }
}
