// margin and padding iteration loop
// define number of classes
@for $i from 0 through 5 {
    // margins
    // all sides
    .m-#{$i} {
        margin: $i + rem !important;
    }
    // top
    .mt-#{$i} {
        margin-top: $i + rem !important;
    }
    // bottom
    .mb-#{$i} {
        margin-bottom: $i + rem !important;
    }
    // right
    .mr-#{$i} {
        margin-right: $i + rem !important;
    }
    // left
    .ml-#{$i} {
        margin-left: $i + rem !important;
    }

    // padding
    // all sides
    .p-#{$i} {
        padding: $i + rem !important;
    }
    // top
    .pt-#{$i} {
        padding-top: $i + rem !important;
    }
    // bottom
    .pb-#{$i} {
        padding-bottom: $i + rem !important;
    }
    // right
    .pr-#{$i} {
        padding-right: $i + rem !important;
    }
    // left
    .pl-#{$i} {
        padding-left: $i + rem !important;
    }
}
