// optionally add exclusions using :not(), e.g.
// :not(p):not(img) etc

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }
}

button {
    cursor: pointer;
    border: none;
    overflow: visible;
    font-size: 1rem;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
}
