// optionally add exclusions using :not(), e.g.
// :not(p):not(img) etc

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }
}

svg {
    // custom icon default size
    &.custom-icon {
        width: 1rem;
        height: 1rem;

        &.icon-large {
            width: 1.5rem;
            height: 1.5rem;
        }

        &.icon-extra-large {
            width: 1.75rem;
            height: 1.75rem;
        }

        // icon colors
        &.fill-primary {
            fill: $primary !important;
        }

        &.fill-white {
            fill: $white !important;
        }

        &.fill-black {
            fill: $black !important;
        }
    }
}
