// see https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face for options
@font-face {
    font-family: 'SF Pro Display Regular';
    src: url(/assets/fonts/sf-pro-display/SF-Pro-Display-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Italic';
    src: url(/assets/fonts/sf-pro-display/SF-Pro-Display-RegularItalic.otf) format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Thin';
    src: url(/assets/fonts/sf-pro-display/SF-Pro-Display-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Thin Italic';
    src: url(/assets/fonts/sf-pro-display/SF-Pro-Display-ThinItalic.otf) format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url(/assets/fonts/sf-pro-display/SF-Pro-Display-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Bold Italic';
    src: url(/assets/fonts/sf-pro-display/SF-Pro-Display-BoldItalic.otf) format('opentype');
}

html,
body {
    font-family: 'SF Pro Display Regular', sans-serif;
}

a {
    text-decoration: none !important;
    @include transition();

    &:hover {
        color: $secondary !important;
    }
}

// extend anchor and padding styling to bootstrap link buttons
.btn-link {
    @extend a;
    @extend .p-0;
}

$font-size-root: 18px;
