@use 'sass:math';

// see https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face for options
@font-face {
    font-family: 'SF Pro Display Regular';
    src: url(/assets/fonts/sf-pro-display/SF-Pro-Display-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Italic';
    src: url(/assets/fonts/sf-pro-display/SF-Pro-Display-RegularItalic.otf) format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Thin';
    src: url(/assets/fonts/sf-pro-display/SF-Pro-Display-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Thin Italic';
    src: url(/assets/fonts/sf-pro-display/SF-Pro-Display-ThinItalic.otf) format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url(/assets/fonts/sf-pro-display/SF-Pro-Display-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Bold Italic';
    src: url(/assets/fonts/sf-pro-display/SF-Pro-Display-BoldItalic.otf) format('opentype');
}

// scale factors
$majorSecond: 1.125;
$minorThird: 1.2;
$majorThird: 1.25;
$perfectFourth: 1.333;
$scale: $majorSecond;
$h6: 1 * $scale;
$h5: $h6 * $scale;
$h4: $h5 * $scale;
$h3: $h4 * $scale;
$h2: $h3 * $scale;
$h1: $h2 * $scale;

html,
body {
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 18px;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
}

a {
    color: $primary;
    text-decoration: none;
    @include transition();

    &:hover {
        color: $secondary;
        text-decoration: none !important;
    }
}

// Weights
strong,
.strong {
    font-weight: 700 !important;
}

.light {
    font-weight: 300 !important;
}

// headings
// heading iteration loop
@for $i from 0 through 6 {
    h#{$i},
    .h#{$i} {
        font-family: 'SF Pro Display Bold', sans-serif;
        @extend .strong;
    }
}

h1,
.h1 {
    color: $secondary;
    font-size: #{$h1}rem;
    margin: 0 0 #{math.div($h1, 2)}rem 0;
}

h2,
.h2 {
    color: $secondary;
    font-size: #{$h2}rem;
    margin: 0 0 #{math.div($h2, 2)}rem 0;
}

h3,
.h3 {
    color: $secondary;
    font-size: #{$h3}rem;
    margin: 0 0 #{math.div($h3, 2)}rem 0;
}

h4,
.h4 {
    color: $dark-gray;
    font-size: #{$h4}rem;
    margin: 0 0 #{math.div($h4, 2)}rem 0;
}

h5,
.h5 {
    color: $dark-gray;
    font-size: #{$h5}rem;
    margin: 0 0 #{math.div($h5, 2)}rem 0;
}

h6,
.h6 {
    color: $dark-gray;
    font-size: #{$h6}rem;
    margin: 0 0 #{math.div($h6, 2)}rem 0;
}

.align-center {
    text-align: center !important;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

.text-size-tiny {
    font-size: math.div(0.85rem, ($scale * ($scale * $scale))) !important;
}

.text-size-small {
    font-size: math.div(1rem, ($scale * ($scale * $scale))) !important;
}

.text-size-medium {
    font-size: math.div(1.15rem, ($scale * ($scale * $scale))) !important;
}

.text-muted {
    color: darken($white, 50) !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.letter-space {
    letter-spacing: 0.375rem !important;
}

// adjust font size to corresponding screen size

@include media-md {
    html,
    body {
        font-size: 2.175vw;
    }
}

@include media-lg {
    html,
    body {
        font-size: 1.795vw;
    }
}

@include media-xl {
    html,
    body {
        font-size: 1.195vw;
    }
}
