// right panel specific styling
@import '../../../style/media';
@import '../../../style/colors';
@import '../../../style/mixins';

#right-panel {
    @extend .background-color-primary;
    display: none;
    @include transition();
}

@include media-md {
    #right-panel {
        display: block;
        width: 18%;
        max-width: 210px;
    }
}

@include media-lg {
    #right-panel {
        max-width: 330px;
    }
}
