// right panel specific styling
@import '../../../style/media';
@import '../../../style/colors';
@import '../../../style/mixins';

#right-panel {
    @extend .background-color-primary;
    display: none;
    @include transition();
}

@include media-md {
    #right-panel {
        display: block;
        width: 15%;
    }
}
