@import '../../../style/colors';
@import '../../../style/mixins';

#left-panel-user {
    overflow: hidden;
    cursor: pointer;
    margin: auto 0.25rem 0 0.25rem;
    padding: 0.375rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0.115rem;
    grid-template-areas:
        'user-avatar user-name'
        'user-avatar user-handle';
    @include border-radius($standard: 10);
    @include transition();

    &:hover {
        background: $extra-light-gray;
    }

    .user-name {
        grid-area: user-name;
        font-size: 0.7rem;
    }

    .user-handle {
        grid-area: user-handle;
        font-size: 65%;
    }
}
