@import '../../../style/colors';
@import '../../../style/mixins';

#left-panel-user {
    cursor: pointer;
    margin: auto 0.25rem 0 0.25rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 0.567rem;
    grid-template-areas:
        'user-avatar user-name'
        'user-avatar user-handle';
    @include border-radius($standard: 10);
    @include transition();

    &:hover {
        background: $extra-light-gray;
    }

    .user-name {
        grid-area: user-name;
    }

    .user-handle {
        grid-area: user-handle;
    }

    #user-actions {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 120%;
        transform: translate(-10%, -110%);
        background: $white;
        border: 1px solid $extra-light-gray;
        @include border-radius($standard: 0.75);
        @include transition();
        z-index: 99;

        &:after {
            $bottomArrowSize: 0.5rem;
            position: absolute;
            background: $white;
            content: '';
            top: calc(100% + 1px);
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            height: $bottomArrowSize;
            width: $bottomArrowSize;
            border-bottom: 1px solid $extra-light-gray;
            border-left: 1px solid $extra-light-gray;
        }

        #user-actions-current-user,
        #user-actions-logout {
            display: block;
        }

        #user-actions-current-user {
            display: grid;
            grid-template-columns: 1fr 4fr;
            gap: 0.115rem;
            grid-template-areas:
                'user-avatar user-name'
                'user-avatar user-handle';
            padding: 1rem 1rem 0.5rem 1rem;
            border-bottom: 1px solid $extra-light-gray;
        }

        #user-actions-signout-user {
            z-index: 101;
            padding: 0.5rem 1rem 1rem 1rem;
            &:hover {
                background: $extra-light-gray;
            }
        }
    }
}
